body {
	font-family: FONTE;
	margin: 0;
	padding: 0;
	display: flexbox;
	flex-direction: column;
	height: 100%;
	overflow-x: hidden;
  
  }
  
  header {
	background-color: #000000;
	color: #BFBFBF;
	text-align: center;
	padding: 1em 0;
	width: 100%;
  }
  
  footer {
	background-color: #000000;
	color: #BFBFBF;
	text-align: center;
	padding: 1em 0;
	display: flexbox;
	justify-content: center;
	align-items: center;
	position: relative;
	box-sizing: border-box;
	width: 95,5%;
  }
  
  main{
	flex: 1;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
  }
  
  @font-face {
	font-family: 'FONTE';
	src: url('FONTE.ttf') format('truetype');
  }
  
  nav ul {
	list-style-type: none;
	padding: 0px;
	display: flex;
	gap: 20px;
	justify-content: center;
	font-size: 12px;
  }
  
  nav ul li a {
	text-decoration: none;
	padding: 10px 20px;
	background-color: #000000;
	border: 2px solid #000000;
	border-radius: 5px;
	color: #ffffff;
  }
  
  nav ul li a:hover {
	background-color: #000000;
	color: #332F2E;
  }
  
  .wrapper {
	list-style: none;
	height: 100px;
	width: 90%;
	padding-top: 40px;
	font-family: FONTE;
	padding: 20px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	background-color: #000000;
	display: flex;
	margin: 0 auto;
  }
  
  .wrapper .icon {
	position: relative;
	background: #ffffff;
	border-radius: 100%;
	margin: 10px;
	width: 50px;
	height: 50px;
	font-size: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip {
	position: absolute;
	top: -40px;;
	font-size: 12px;
	background: #BFBFBF;
	color: #ffffff;
	padding: 5px 8px;
	border-radius: 5px;
	box-shadow: 0 10px 10px #ffffff;
	opacity: 0;
	pointer-events: none;
	transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip::before {
	position: relative;
	content: "";
	height: 8px;
	width: 8px;
	background: #BFBFBF;
	bottom: -3px;
	left: 50%;
	transform: translate(-50%) rotate(45deg);
	transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .icon:hover .tooltip {
	top: -45px;
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
  }
  
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
	text-shadow: 0px -1px 0px rgba(255, 255, 255, 0.1);
  }
  
  .wrapper .discord:hover,
  .wrapper .discord:hover .tooltip,
  .wrapper .discord:hover .tooltip::before {
	background: #5530fa;
	color: #fff;
  }
  
  .wrapper .youtube:hover,
  .wrapper .youtube:hover .tooltip,
  .wrapper .youtube:hover .tooltip::before {
	background: #ff0000;
	color: #fff;
  }
  
  .wrapper .instagram:hover,
  .wrapper .instagram:hover .tooltip,
  .wrapper .instagram:hover .tooltip::before {
	background: #B70935;
	color: #fff;
  }
  
  svg {
	height: 25px;
	width: 25px;
  }
  
  main {
	padding: 20px;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  
  #home {
	display: flex;
	justify-content: center;
	padding: 150px;
	color: white;
	flex-direction: column;
	align-items: center;
	background-color: #000000;
  }
  .container{
	display: flex;
	justify-content: center;
	position: relative;
	padding: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
  }
  
  .row{
	display: flex;
	justify-content: center;
	position: relative;
	padding: 30px;
	width: 100%;
	height: 100%;
  }
  
  .titulo{
	display: flex;
	font-family: FONTE;
	font-size: 100px;
	margin: 0px 0px 15px;
	position: relative;
	text-align: center;
	height: 100%;
	width: 90%;
	display: flex;
	justify-content: center;
	padding: 30px;
  }
  
  #portfolio {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
	position: relative;
	padding: 150px;
	color: black;
	display: flex;
	align-items: center;
	background-color: #D9D9D9;
  }
  
  .containerport{
	display: flex;
	justify-content: center;
	gap: 20px;
	position: relative;
	padding: 40px;
  }
  
  .row2{
	display: flex;
	justify-content: center;
	gap: 20px;
	position: relative;
	padding: 40px;
  }
  
  .mod {
	background-color: #ffffff;
	padding: 20px;
	margin-bottom: 1rem;
	border-radius: 5px;
	text-align: center;
	width: 250px;
  }
  .mod2 {
	background-color: #ffffff;
	padding: 20px;
	margin-bottom: 1rem;
	border-radius: 5px;
	text-align: center;
	width: 250px;
  }
  .mod3 {
	background-color: #ffffff;
	padding: 20px;
	margin-bottom: 1rem;
	border-radius: 5px;
	text-align: center;
	width: 250px;
  }
  
  .description {
	font-size: 12px;
  }
  
  .mod img {
	max-width: 150px;
	height: auto;
	border-radius: 0px;
  }
  .mod2 img {
	max-width: 100%;
	height: auto;
	border-radius: 0px;
  }
  .mod3 img {
	max-width: 100%;
	height: auto;
	border-radius: 0px;
  }
  
  .mod h3 {
	margin-top: 0.5rem;
  }
  .mod2 h3 {
	margin-top: 0.5rem;
  }
  .mod3 h3 {
	margin-top: 0.5rem;
  }
  button {
	font-family: 'FONTE';
	font-size: 13px;
	padding: 1em 2.7em;
	font-weight: 500;
	background: #1f2937;
	color: #BFBFBF;
	border: none;
	position: relative;
	overflow: hidden;
	border-radius: 0.6em;
	cursor: pointer;
  }
  
  .gradient {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	border-radius: 0.6em;
	margin-top: -0.25em;
	background-image: linear-gradient(
	  rgba(0, 0, 0, 0),
	  rgba(0, 0, 0, 0),
	
	);
  }
  
  .label {
	position: relative;
	top: -1px;
  }
  
  .transition {
	transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
	transition-duration: 500ms;
	background-color: #4C5958;
	border-radius: 99999px;
	width: 0;
	height: 0;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
  }
  
  button:hover .transition {
	width: 14em;
	height: 14em;
  }
  
  button:active {
	transform: scale(0.97);
  }
  
  #me {
	display: flexbox;
	flex-wrap: wrap;
	justify-content: center;
	color: black;
	background-color: white;
	padding: 150px;
  }
  
  .containerme{
	display: flex;
	justify-content: center;
	gap: 20px;
	position: relative;
	padding: 120px;
  }
  
  .row3{
	display: flex;
	justify-content: center;
	gap: 20px;
	position: relative;
	padding: 120px;
  }
  
  .TeamPlayer{
	background-color: #ffffff;
	padding: 20px;
	margin-bottom: 1rem;
	border-radius: 5px;
	text-align: center;
	width: 250px;
  }
  
  .ContinuousLearner{
	background-color: #ffffff;
	padding: 20px;
	margin-bottom: 1rem;
	border-radius: 5px;
	text-align: center;
	width: 250px;
  }
  
  .ProblemSolver{
	background-color: #ffffff;
	padding: 20px;
	margin-bottom: 1rem;
	border-radius: 5px;
	text-align: center;
	width: 250px;
  }
  
  .titulome{
	display: flex;
	font-family: FONTE;
	font-size: 30px;
	margin: 0px 0px 15px;
	position: relative;
	text-align: center;
	height: 100%;
	width: 90%;
	display: flex;
	justify-content: center;
	padding: 30px;
  }
  
  @media (max-width: 480px) {
	#home {
	  width: 100%;
	  padding: 10px;
	}
  }
  
  @media (max-width: 480px) {
	#portfolio {
	  width: 100%;
	  padding: 10px;
	}
  }
  
  @media (max-width: 480px) {
	#me {
	  width: 100%;
	  padding: 10px;
	}
  }
  
  @media (max-width: 768px) {
	#home {
	  width: 90%;
	  padding: 15px;
	}
  }
  
  @media (max-width: 768px) {
	#portfolio {
	  width: 90%;
	  padding: 15px;
	}
  }
  
  @media (max-width: 768px) {
	#me {
	  width: 90%;
	  padding: 15px;
	}
  }
  
  
  
